
.task-status-field {
    border-right: 1px solid darkcyan;
    padding: 30px;
}

.task-status-field:last-child {
    border: none;
}

.task-status-name {
    color: darkcyan;
}

.add-task-link {
    color: darkcyan;
}

.add-task-link:hover {
    color: #282c34;
}